body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
}

div {
  position: relative;
}

/* Containers */
.white {
  position: relative;
  background-color: white;
  width: 100%;
  height: 30%;
}
.osaekomi-white{
  background: linear-gradient(to left, yellow 50%, white 50%) right;
  background-size: 200%;
  transition: 20s ease;
}
.osaekomi-white:hover {
  background-position: left;
}

.blue {
  background-color: blue;
  color: white;
  width: 100%;
  height: 30%;
}
.osaekomi-blue{
  background: linear-gradient(to left, blue 50%, yellow 50%) right;
  background-size: 200%;
  transition: 20s ease;
}
.osaekomi-blue:hover {
  background-position: left;
}

.black {
  background-color: black;
  color: lightgreen;
  width: 100%;
  height: 40%;
}

/* Texts */
.text {
  display: inline-block;
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.score-text {
  font-size: 10rem;
  left: 40%;
}

.timer-text{
  font-size: 10rem;
  left: 25%;
}
.is-paused{
  color: darkred;
}

.golden-score-text{
  color: gold;
  font-size: 10rem;
}

.osaekomi-text{
  font-size: 10rem;
  right: -4%;
}
/* Icons & Images*/
.card {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8%;
  margin: 5px;
}

.card-2nd {
  right: 5%;
}
